#barra-navegacion {
  width: 100%;
  max-width: 100%;
  padding: 0;
  margin: 0;
  border-color: rgb(67, 31, 167);
}

.PagTS {
  position: relative; 
  display: flex;
  top: 15px; 
  left: 50%; 
  transform: translateX(-50%); 
  z-index: 2;
  width: 100%;
  justify-content: center;
}

.PagTS button {
  background-color: rgb(194, 194, 180);
  color: black;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

/* Responsive adjustments */
@media (max-width: 768px) {
  .PagTS {
    position: static;
    transform: none;
    margin-bottom: 10px;
  }
}