.Tours {
    background-size: cover;
  }
  
.carousel-item img{
    height: 900px; /* Define la altura máxima para las imágenes */
    max-width: 100%; /* Asegura que el ancho se ajuste automáticamente */
    object-fit: contain; /* No recorta la imagen, la ajusta dentro del contenedor */
    margin: 0 auto; /* Centra la imagen horizontalmente */
    display: block; /* Permite el centrado correcto */

}

.card-title {
  font-size: 2rem; /* Aumenta el tamaño del título */
  font-weight: bold;
}


#Fearless{
  background-color: rgb(230, 211, 108);
}

#cardFearless{
  background-color: rgb(29, 28, 26);
  position: absolute;
  width: 400px;
  height: 350px;
  top: 50%;
  left: 20%;
  transform: translate(-50%, -50%);
  color:white;
  text-align: center;
  font-family: "Play", serif;
  font-weight: 400;
  font-style: normal;
  font-size: 20px;;
}

#SpeakNow{
  background-color: rgb(187, 113, 187);
}
#cardSpeakNow{
  background-color: rgb(231, 231, 231);
  position: absolute;
  width: 400px;
  height: 350px;
  top: 50%;
  left: 16%;
  transform: translate(-50%, -50%);
  text-align: center;
  font-size: 22px;
  font-family: "Parisienne", serif;
  font-weight: 400;
  font-style: normal;
}
#Red{
  background-color: rgb(199, 71, 71);
}
#cardRed{
  background-color: rgb(255, 255, 255);
  position: absolute;
  width: 400px;
  height: 350px;
  top: 50%;
  left: 20%;
  transform: translate(-50%, -50%);
  text-align: center;
  font-family: "Bebas Neue", serif;
  font-weight: 400;
  font-style: normal;
  font-size: 24px;
}
#Nineteen{
  background-color: rgb(113, 154, 187);
}
#card1989{
  background-color: rgb(189, 144, 186);
  position: absolute;
  width: 400px;
  height: 350px;
  top: 50%;
  left: 20%;
  transform: translate(-50%, -50%);
  text-align: center;
  color:white;
  font-family: "Montserrat", serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-size: 22px;
}
#Reputation{
  background-color: rgb(107, 105, 107);
}
#cardReputation{
  background-color: rgb(49, 47, 49);
  position: absolute;
  width: 380px;
  height: 350px;
  top: 50%;
  left: 15%;
  transform: translate(-50%, -50%);
  text-align: center;
  color:white;
  font-family: "Cinzel", serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-size: 18px;
}
#TheEras{
  background-color: rgb(212, 205, 212);
}
#cardTheEras{
  background-color: rgb(50, 61, 92);
  position: absolute;
  width: 400px;
  height: 350px;
  top: 50%;
  left: 20%;
  transform: translate(-50%, -50%);
  text-align: center;
  color:white;
  font-family: "Playfair", serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
    font-size: 20px;
}

.pCentrados{
  text-align: center;
  display: block;
  margin: 0 auto;
}

#prev{
  position: fixed;
  top: 50%;
  left:2cm;
  transform: translate(-50%, -50%);
  z-index: 1;
}
#next{
  position: fixed;
  top: 50%;
  right: 2cm;
  transform: translate(-50%, -50%);
  z-index: 1;
}