.container-fluid {
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
  
}

/* Responsive navigation */
.nav-tabs {
  display: flex;
  flex-wrap: wrap;
  background-color: rgb(126, 126, 110);
  padding: 10px;
  border-radius: 5px;
  justify-content: center;
  position: relative;
  z-index: 1;
 
}

.nav-tabs .nav-link {
  border: 2px solid transparent;
  color: rgb(75, 75, 61) !important;
  font-size: clamp(14px, 2vw, 18px);
  margin: 5px;
  padding: 8px 15px;
  transition: all 0.3s ease;
  white-space: nowrap;
  border-color: rgb(93, 95, 82);
}
.nav-tabs .nav-link.active {
  background-color: rgb(197, 197, 179) !important;
}

.nav-tabs .official-site-nav-item {
  display: flex;
  align-items: center;
}

.nav-tabs .official-site-nav-item .btn-official-site {
  color: rgb(75, 75, 61);
  padding: 8px 15px;
  margin: 5px;
  transition: all 0.3s ease;
}

.mobile-official-site {
  display: flex;
  justify-content: center;
  width: 100%;
  margin-bottom: 10px;
  
}

@media (max-width: 992px) {
  .nav{
    border-color: rgb(93, 95, 82);
  }
  .nav-tabs {
    justify-content: center;
  }
  
  .nav-tabs .nav-link {
    padding: 8px 15px;
  }
  
  .official-site-nav-item {
    display: none;
  }
}

@media (max-width: 768px) {
  .nav-tabs {
    flex-direction: column;
    align-items: center;
  }
  
  .nav-tabs .nav-item {
    width: 100%;
    text-align: center;
  }
  
  .nav-tabs .nav-link {
    width: 100%;
    margin: 3px 0;
  }
}